.card-container{
    display: flex;
    gap: 2rem;
}
.card-container .card img{
    width: 100%;
    height: 100%;
}

.card-container .card{
    height: 50vh;
    width: 18vw;
    background-color:white;
    display: flex;
    /* gap: 2rem; */
    margin-top: 4rem;
    position: relative;
}
.card-container .card-body {
   position: absolute;
}
.card-title{
    color:black;
    font-weight: 900;
    font-size: 20px;
    /* padding-bottom: 100px; */
}
.card-container .card-body .btn {
 margin-top: 4rem;
}